.aboutUsDiv{
	padding-bottom: 700px;
	padding-right: 0px;
	padding-left: 0px;
}

.aboutUsDiv hr{
	background-color: white;
}

.aboutUsDiv p{
	font-size: 20px;
}

.aboutUsDiv h2{
	font-size: 38px;
	margin-top: 40px;
/*	margin-left: 20%;
    margin-right: 20%;*/
}

.aboutUsDiv h4{
	font-size: 27px !important;
}

.aboutUsDiv .mainRow{
	margin-top: 80px;
}

.aboutUsDiv a:hover{
	text-decoration: none;
}

.aboutUsMargin{
	margin-top: 20px;
}


.aboutUsDiv .card-text{
	color: grey;
}

.aboutUsDiv .card-title{
	color: grey;
}

.aboutUsDiv .card-img-top{
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

 .selectedCard{
	transform: scale3d(1.03,1.03,1.03);
	box-shadow: 0px 0px 15px 0px rgba(172,217,242,1);
}

.aboutUsDiv .card{
	background-color: #000000d9;
	transition: 0.3s;
	height: 453px;
}

.aboutUsDiv .portugalflagDiv{
	display: flex;
	height: 200px;
}

.aboutUsDiv .portugalFlag{
	display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutUsDiv .row{
	margin-right: 0px !important;
}

.informationCard1{
	-webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.informationCard2{
	-webkit-animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.informationCard3{
	-webkit-animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-900px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px){
	.aboutUsDiv{
		padding-bottom: 400px;
	}

	.aboutUsDiv .card-img-top{
		width: 200px;
		margin-right: auto;
		margin-left: auto;
	}

	.aboutUsDiv .card{
		height: 400px;
	}

	.aboutUsDiv .mainRow{
		margin-top: 20px;
	}

	.aboutUsDiv p{
		font-size: 16px !important;
	}

}

@media screen and (min-width: 991px) and (max-width: 1200px){
	.aboutUsDiv p{
		font-size: 18px !important;
	}

	.aboutUsDiv h4{
		font-size: 23px !important;
	}

}



@media screen and (max-width: 992px) {
	.aboutUsDiv{
		padding-bottom: 850px;
	}
	.aboutUsDiv p{
		font-size: 14px !important;
	}
	.aboutUsDiv li{
		font-size: 16px !important;
	}
	.aboutUsMargin{
		margin-top: 10px;
	}
	.aboutUsDiv h2{
		margin-left: 5%;
	    margin-right: 5%;
	}
	.aboutUsDiv h4{
		font-size: 16px !important;
	}
	.aboutUsDiv .card{
		margin-left: 2px;
		margin-right: 2px;
		padding: 0px;
	}
}

@media screen and (max-width: 768px) {
	.aboutUsDiv .colDiv{
		padding-bottom: 12px;
	}
	.aboutUsDiv .card-img-top{
		width: 100px !important;
	}

	.aboutUsDiv h2{
		font-size:27px !important;
	}

	.aboutUsDiv .card{
		width: 360px !important;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}
	.aboutUsDiv .portugalflagDiv{
		height: 100px;
	}

	.aboutUsDiv .mainRow{
		margin-top: 10px;
	}

	.aboutUsDiv h4{
		font-size: 20px !important;
	}
}

@media screen and (max-width: 378px){
	.aboutUsDiv .card{
		width: 280px !important;
	}

	.aboutUsDiv .mainRow{
		margin-top: 10px;
	}
}

@media screen and (min-width: 769px){
	.aboutUsDiv .card:hover{
		transform: scale3d(1.03,1.03,1.03);
		box-shadow: 0px 0px 15px 0px rgba(172,217,242,1);
	}
}